/* 초기화 */
.gw-loading {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;  
  z-index: 99999;
  display: flex;
  align-items: center;
}

/* -------------------------------- position ---------------------------------- */
.gw-loading-position--none {
  justify-content: start;
}
.gw-loading-position--center {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
}

/* -------------------------------- color ---------------------------------- */
.gw-loading-color--success {
  color: rgba(16, 185, 129, 1);
}
.gw-loading-type--success {
  color: #7cbb3f;
}
.gw-loading-type--success-dark {
  color: #009780;
}
.gw-loading-type--warning {
  color: #ff8e0d;
}
.gw-loading-type--warning-dark {
  color: #ad580e;
}
.gw-loading-type--danger {
  color: #FF2869;
}
.gw-loading-type--danger-dark {
  color: #ff3232;
}
.gw-loading-type--info {
  color: #2563eb;
}
.gw-loading-type--info-dark {
  color: #0D47A1;
}
.gw-loading-type--gray {
  color: lightgray;
}
.gw-loading-type--gray-dark {
  color: #696A6B;
}
.gw-loading-type--black {
  color: black;
}
.gw-loading-type--white {
  color: white;
}
