/* 초기화 */
.gw-label {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
}

/* -------------------------------- type ---------------------------------- */
.gw-label-type--success {
  color: #7cbb3f;
  background-color: #7cbb3f;
  border: 1px solid #7cbb3f;
}
.gw-label-type--success-dark {
  color: #009780;
  background-color: #009780;
  border: 1px solid #009780;
}
.gw-label-type--warning {
  color: #ff8e0d;
  background-color: #ff8e0d;
  border: 1px solid #ff8e0d;
}
.gw-label-type--warning-dark {
  color: #ad580e;
  background-color: #ad580e;
  border: 1px solid #ad580e;
}
.gw-label-type--danger {
  color: #FF2869;
  background-color: #FF2869;
  border: 1px solid #FF2869;  
}
.gw-label-type--danger-dark {
  color: #ff3232;
  background-color: #ff3232;
  border: 1px solid #ff3232;
}
.gw-label-type--info {
  color: rgba(37, 99, 235, 1);
  background-color: rgba(37, 99, 235, 1);
  border: 1px solid rgba(37, 99, 235, 1);
}
.gw-label-type--info-dark {
  color: #0D47A1;
  background-color: #0D47A1;
  border: 1px solid #0D47A1;
}
.gw-label-type--black {
  color: black;
  background-color: black;
  border: 1px solid black;
}
.gw-label-type--white {
  color: white;
  background-color: white;
  border: 1px solid white;
}

/* -------------------------------- weight -------------------------------- */
.gw-label-weight--outlined {
  background-color: transparent;
}
.gw-label-weight--inline {
  color: white;
  border: 0;
}
.gw-label-weight--ghost {
  background-color: transparent;
  border: 0;
}

/* -------------------------------- size -------------------------------- */
.gw-label-size--smallest {
  padding: 8px 15px;
  font-size: 12px;
}
.gw-label-size--smaller {
  padding: 11px 18px;
  font-size: 14px;
}
.gw-label-size--medium {
  padding: 14px 22px;
  font-size: 16px;
}
.gw-label-size--larger {
  padding: 17px 27px;
  font-size: 19px;
}
.gw-label-size--largest {
  padding: 21px 34px;
  font-size: 24px;
}

/* -------------------------------- shape -------------------------------- */
.gw-label-shape--square {
  border-radius: 0;
}
.gw-label-shape--circle {
  border-radius: 3em;
}
