/* 초기화 */
.gw-alert-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.gw-alert {
  position: absolute;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);  
  border-radius: 10px;
  z-index: 999999;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}
.gw-alert-contentWrap {
  flex: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  min-width: 300px;
  min-height: 130px;
}
.gw-alert-title {
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;  
}
.gw-alert-content {
  color: #000;
  margin-bottom: 10px;    
}
.gw-alert-buttonWrap {
  display: flex;
  align-items: center;
}
.gw-alert-buttonWrap > button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  flex: 1;
  font-weight: 500;
  min-height: 40px;
}
.gw-alert-confirm-button {
  color: #FFF;
}
.gw-alert-cancel-button {
  background-color: #e8e9e9;
  color: #000;
}
.gw-alert-dimmed {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.05);
  z-index: 99;
}

/* -------------------------------- position -------------------------------- */
.gw-alert-position--left-top {
  left: 0;
  top: 0;
}
.gw-alert-position--left-center {
  left: 0;
  top: 50%;  
  transform: translateY(-50%);
}
.gw-alert-position--left-bottom {
  left: 0;
  bottom: 0;  
}
.gw-alert-position--center-top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.gw-alert-position--center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gw-alert-position--center-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.gw-alert-position--right-top {
  right: 0;
  top: 0;  
}
.gw-alert-position--right-center {
  right: 0;
  top: 50%;  
  transform: translateY(-50%);
}
.gw-alert-position--right-bottom {
  right: 0;
  bottom: 0;  
}

/* -------------------------------- type -------------------------------- */
.gw-alert-type--success .gw-alert-confirm-button {
  background-color: rgba(5, 150, 105, 0.1);
  color: rgba(5, 150, 105, 1);
}
.gw-alert-type--success-dark .gw-alert-confirm-button {
  background-color: #009780;
}
.gw-alert-type--warning .gw-alert-confirm-button {
  background-color: rgba(217, 119, 6, 0.1);
  color: rgb(255, 165, 62);
}
.gw-alert-type--warning-dark .gw-alert-confirm-button {
  background-color: #ffa04e;
}
.gw-alert-type--danger .gw-alert-confirm-button {
  background-color: rgba(220, 38, 38, 0.1);
  color: rgba(220, 38, 38, 1);
}
.gw-alert-type--danger-dark .gw-alert-confirm-button {
  background-color: #FF2869;
}
.gw-alert-type--info .gw-alert-confirm-button {
  background-color: rgba(37, 99, 235, 0.1);
  color: rgba(37, 99, 235, 1);
}
.gw-alert-type--info-dark .gw-alert-confirm-button {
  background-color: #0D47A1;
}
.gw-alert-type--neutral .gw-alert-confirm-button {
  background-color: rgba(145, 145, 145, 0.1);
  color: rgba(145, 145, 145, 1);
}
.gw-alert-type--neutral-dark .gw-alert-confirm-button {
  background-color: #000;
}
