/* 초기화 */
.gw-alert-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.gw-alert {
  position: absolute;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);  
  border-radius: 10px;
  z-index: 999999;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}
.gw-alert-contentWrap {
  flex: 1;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  color: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.gw-alert-title {
  font-weight: 600;
  display: flex;
  justify-content: start;
}
.gw-alert-content {
  flex: 1;
  display: flex;
  justify-content: end;
}
.gw-alert-buttonWrap {
  display: flex;
  align-items: center;
}
.gw-alert-buttonWrap > button {
  border: none;
  cursor: pointer;
  flex: 1;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gw-alert-confirm-button {
  color: #FFF;
}
.gw-alert-cancel-button {
  background-color: #e8e9e9;
  color: #000;
}
.gw-alert-dimmed {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.05);
  z-index: 99;
}

/* -------------------------------- position -------------------------------- */
.gw-alert-position--left-top {
  left: 30px;
  top: 30px;
}
.gw-alert-position--left-center {
  left: 30px;
  top: 50%;  
  transform: translateY(-50%);
}
.gw-alert-position--left-bottom {
  left: 30px;
  bottom: 30px;  
}
.gw-alert-position--center-top {
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.gw-alert-position--center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gw-alert-position--center-bottom {
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.gw-alert-position--right-top {
  right: 30px;
  top: 30px;  
}
.gw-alert-position--right-center {
  right: 30px;
  top: 50%;  
  transform: translateY(-50%);
}
.gw-alert-position--right-bottom {
  right: 30px;
  bottom: 30px;  
}

/* -------------------------------- type -------------------------------- */
.gw-alert-type--success .gw-alert-confirm-button {
  background-color: rgba(5, 150, 105, 0.2);
  color: rgba(5, 150, 105, 1);
}
.gw-alert-type--success-dark .gw-alert-confirm-button {
  background-color: rgba(16, 185, 129, 1);
  color: #fff;
}
.gw-alert-type--warning .gw-alert-confirm-button {
  background-color: rgba(217, 119, 6, 0.2);
  color: rgba(217, 119, 6, 1);
}
.gw-alert-type--warning-dark .gw-alert-confirm-button {
  background-color: rgba(245, 158, 11, 1);
  color: #fff;
}
.gw-alert-type--danger .gw-alert-confirm-button {
  background-color: rgba(220, 38, 38, 0.2);
  color: rgba(220, 38, 38, 1);
}
.gw-alert-type--danger-dark .gw-alert-confirm-button {
  background-color: #FF2869;
  color: #fff;
}
.gw-alert-type--info .gw-alert-confirm-button {
  background-color: rgba(37, 99, 235, 0.2);
  color: rgba(37, 99, 235, 1);
}
.gw-alert-type--info-dark .gw-alert-confirm-button {
  background-color: rgba(59, 130, 246, 1);
  color: #fff;
}
.gw-alert-type--gray .gw-alert-confirm-button {
  background-color: rgba(145, 145, 145, 0.2);
  color: rgba(145, 145, 145, 1);
}
.gw-alert-type--gray-dark .gw-alert-confirm-button {
  background-color: rgba(170, 170, 170, 1);
  color: #fff;
}
.gw-alert-type--black .gw-alert-confirm-button {
  background-color: black;
  color: #fff;
}
.gw-alert-type--white .gw-alert-confirm-button {
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
}