/* 초기화 */
.gw-toast-list {
  position: fixed; 
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999;
  display: flex;
  flex-direction: column-reverse; 
  gap: 15px;
}
.gw-toast {
  display: flex;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gw-toast-text {
  flex: 1;
  margin: 0 16px;  
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.gw-toast-title {
  margin: 0;
  font-weight: 600;
}
.gw-toast-content {
  margin: 0;
}
.gw-toast-close {
  cursor: pointer;
}

/* -------------------------------- type -------------------------------- */
.gw-toast-type--success {
  background-color: rgba(5, 150, 105, 0.2);
  color: rgba(5, 150, 105, 1);
}
.gw-toast-type--success .gw-toast-content {
  color: rgba(16, 185, 129, 1);
}
.gw-toast-type--success .gw-toast-close {
  color: rgba(16, 185, 129, 1);
}
.gw-toast-type--success-dark {
  background-color: rgba(16, 185, 129, 0.8);
  color: #fff;
}
.gw-toast-type--warning {
  background-color: rgba(217, 119, 6, 0.2);
  color: rgba(217, 119, 6, 1);
}
.gw-toast-type--warning .gw-toast-content {
  color: rgba(245, 158, 11, 1);
}
.gw-toast-type--warning .gw-toast-close {
  color: rgba(245, 158, 11, 1);
}
.gw-toast-type--warning-dark {
  background-color: rgba(245, 158, 11, 0.8);
  color: #fff;
}
.gw-toast-type--danger {
  background-color: rgba(220, 38, 38, 0.2);
  color: rgba(220, 38, 38, 1);
}
.gw-toast-type--danger .gw-toast-content {
  color: rgba(239, 68, 68, 1);
}
.gw-toast-type--danger .gw-toast-close {
  color: rgba(239, 68, 68, 1);
}
.gw-toast-type--danger-dark {
  background-color: rgba(239, 68, 68, 0.8);
  color: #fff;
}
.gw-toast-type--info {
  background-color: rgba(37, 99, 235, 0.2);
  color: rgba(37, 99, 235, 1);
}
.gw-toast-type--info .gw-toast-content {
  color: rgba(59, 130, 246, 1);
}
.gw-toast-type--info .gw-toast-close {
  color: rgba(59, 130, 246, 1);
}
.gw-toast-type--info-dark {
  background-color: rgba(59, 130, 246, 0.8);
  color: #fff;
}
.gw-toast-type--gray {
  background-color: rgba(145, 145, 145, 0.2);
  color: rgba(145, 145, 145, 1);
}
.gw-toast-type--gray .gw-toast-content {
  color: rgba(170, 170, 170, 1);
}
.gw-toast-type--gray .gw-toast-close {
  color: rgba(170, 170, 170, 1);
}
.gw-toast-type--gary-dark {
  background-color: rgba(170, 170, 170, 0.8);
  color: #fff;
}
.gw-toast-type--black {
  background-color: black;
  color: #fff;
}
.gw-toast-type--white {
  background-color: white;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* -------------------------------- shape -------------------------------- */
.gw-toast-shape--square {
  border-radius: 6px;
  padding: 16px;
}
.gw-toast-shape--circle {
  border-radius: 3em;
  padding: 16px 22px;
}
