/* 초기화 */
.gw-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

/* -------------------------------- disabled -------------------------------- */
.gw-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* -------------------------------- types ---------------------------------- */
.gw-button-types--success {
  color: #7cbb3f;
  background-color: #7cbb3f;
  border: 1px solid #7cbb3f;
}
.gw-button-types--success-dark {
  color: #009780;
  background-color: #009780;
  border: 1px solid #009780;
}
.gw-button-types--warning {
  color: #ff8e0d;
  background-color: #ff8e0d;
  border: 1px solid #ff8e0d;
}
.gw-button-types--warning-dark {
  color: #ad580e;
  background-color: #ad580e;
  border: 1px solid #ad580e;
}
.gw-button-types--danger {
  color: #ff3232;
  background-color: #ff3232;
  border: 1px solid #ff3232;
}
.gw-button-types--danger-dark {
  color: #ff3232;
  background-color: #ff3232;
  border: 1px solid #ff3232;
}
.gw-button-types--info {
  color: rgba(37, 99, 235, 1);
  background-color: rgba(37, 99, 235, 1);
  border: 1px solid rgba(37, 99, 235, 1);
}
.gw-button-types--info-dark {
  color: #0D47A1;
  background-color: #0D47A1;
  border: 1px solid #0D47A1;
}
.gw-button-types--black {
  color: black;
  background-color: black;
  border: 1px solid black;
}
.gw-button-types--white {
  color: white;
  background-color: white;
  border: 1px solid white;
}

/* -------------------------------- weight -------------------------------- */
.gw-button-weight--outlined {
  background-color: transparent;
}
.gw-button-weight--inline {
  color: white;
  border: 0;
}
.gw-button-weight--ghost {
  background-color: transparent;
  border: 0;
}

/* -------------------------------- size -------------------------------- */
.gw-button-size--smallest {
  padding: 8px 15px;
  font-size: 12px;
}
.gw-button-size--smaller {
  padding: 11px 18px;
  font-size: 14px;
}
.gw-button-size--medium {
  padding: 14px 22px;
  font-size: 16px;
}
.gw-button-size--larger {
  padding: 17px 27px;
  font-size: 19px;
}
.gw-button-size--largest {
  padding: 21px 34px;
  font-size: 24px;
}

/* -------------------------------- shape -------------------------------- */
.gw-button-shape--square {
  border-radius: 0;
}
.gw-button-shape--circle {
  border-radius: 3em;
}
