/* 초기화 */
.gw-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

/* -------------------------------- disabled -------------------------------- */
.gw-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* -------------------------------- color ---------------------------------- */
.gw-button-color--primary {
  color: #4db6ac;
  background-color: #4db6ac;
  border: 1px solid #4db6ac;
}
.gw-button-color--secondary {
  color: #dbdbdb;
  background-color: #dbdbdb;
  border: 1px solid #dbdbdb;
}
.gw-button-color--black {
  color: black;
  background-color: black;
  border: 1px solid black;
}
.gw-button-color--white {
  color: white;
  background-color: white;
  border: 1px solid white;
}
.gw-button-color--success {
  color: #7cbb3f;
  background-color: #7cbb3f;
  border: 1px solid #7cbb3f;
}
.gw-button-color--warning {
  color: #ff8e0d;
  background-color: #ff8e0d;
  border: 1px solid #ff8e0d;
}
.gw-button-color--danger {
  color: #ff3232;
  background-color: #ff3232;
  border: 1px solid #ff3232;
}

/* -------------------------------- weight -------------------------------- */
.gw-button-weight--outlined {
  background-color: transparent;
}
.gw-button-weight--inline {
  color: white;
  border: 0;
}
.gw-button-weight--ghost {
  background-color: transparent;
  border: 0;
}

/* -------------------------------- size -------------------------------- */
.gw-button-size--smallest {
  padding: 8px 15px;
  font-size: 12px;
}
.gw-button-size--smaller {
  padding: 11px 18px;
  font-size: 14px;
}
.gw-button-size--medium {
  padding: 14px 22px;
  font-size: 16px;
}
.gw-button-size--larger {
  padding: 17px 27px;
  font-size: 19px;
}
.gw-button-size--largest {
  padding: 21px 34px;
  font-size: 24px;
}

/* -------------------------------- shape -------------------------------- */
.gw-button-shape--squre {
  border-radius: 0;
}
.gw-button-shape--circle {
  border-radius: 3em;
}
